<!DOCTYPE html>
<html lang="en">
<body style="font-family: sans-serif;">
    <div style="margin: 4px; padding: 6px; border: 2px solid skyblue; border-radius: 6px;">
        <h3 style="text-align: center; background-color: skyblue; padding: 4px; font-size: 36px;">Welcome {{user}}!</h3>
        <p style="background-color: slateblue; color: wheat; padding: 4px; text-align: justify;">
            Thank you for choosing our social platform, the best social media platform!
        </p>
        <p style="text-align: justify;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Dolorem voluptatem officiis ipsa? Dolorum nobis recusandae necessitatibus soluta itaque dicta, 
            assumenda beatae nesciunt distinctio ipsum ipsam maxime minus accusantium corrupti tempora?
        </p>
    </div>
</body>
</html>